server:
  port: 9999

spring:
  application:
    name: tool





demo:
  redis:
    host: redis://:@192.168.99.100:32805
    max-total: 120
    max-idle: 10
    time-between-eviction-runs-millis: 30000
    min-evictable-idle-time-millis: 30000
    test-on-borrow: true
  time:
    consume:
      global-log-flag: true

