server:
  port: 9999

spring:
  application:
    name: tool
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://127.0.0.1:3306/kevin?characterEncoding=utf-8&serverTimezone=UTC

management:
  endpoints:
    web:
      exposure:
        include: "*"  # * 在yaml 文件属于关键字，所以需要加引号

mybatis:
  mapper-locations: classpath:mappers/*.xml

demo:
  redis:
    host: redis://:@192.168.99.100:32805
    max-total: 120
    max-idle: 10
    time-between-eviction-runs-millis: 30000
    min-evictable-idle-time-millis: 30000
    test-on-borrow: true
  time:
    consume:
      global-log-flag: true

