<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:kevin="http://www.kevin.com/schema/kevinInfo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.kevin.com/schema/kevinInfo
       http://www.kevin.com/schema/kevin.xsd">


    <kevin:kevinInfo id="beanId" name="kevin123" />

    <bean class="com.kevin.tool.spring.ioc.lifecycle.SingletonBeanLifeCycle"
          name="kevin,kevin2;"
          init-method="initMedthod"
          destroy-method="destroyMedthod">
        <property name="testName" value="testkevin-1" />
    </bean>
    <!--<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true" />-->
    <alias name="kevin" alias="kevin1,kevin2" />

    <bean id="myApplicationListener" class="com.kevin.tool.spring.ioc.applicationcontext.MyApplicationListener" />

</beans>

<!--
-->
